@charset "UTF-8 ";

/* Estilo para telas */

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: #33D67E;
}

header > h1 {
    text-align: center;
    font-variant: small-caps;
}

menu ul {
    list-style-type: none;
    background-color: #33D646;
}

menu li {
    background-color: #A4D633;
    color: white;
    display: inline-block;
    padding: 10px;
}

article {
    background-color: #33D6B5;
    max-width: 800px;
    display: block;
    margin: auto;
    padding: 10px;
}

article p {
    text-align: justify;
    text-indent: 30px;
}

article h2 {
    text-align: center;
    font-variant: small-caps;
}