@charset "UTF-8";

/* todas as demais mídias */

@media print {
    
    * {
        font-family: 'Courier New', Courier, monospace;
    }
}

/* Tablet entra em mobile first na minha opinião*/


/* PC */
@media screen and (min-width: 1025px) {
    #burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }
    
    main {
        width: 900px;
    }
}

/* TV talvez*/
@media screen and (min-width: 1921px) {
}